.dashboard-page-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    /* background-color: rgb(197, 218, 240); */
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

.fridge-container {
    background-image: url('./images/real-fridge-open.png');
    background-position: center;
    height: 800px;
    width: 700px;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 48% 52%;
    grid-template-rows: 33% 67%;
    transition: all .2s ease-in-out;
}

.freezer-door-container {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: flex-start;
    align-self: center;
    margin-top: 10%;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, .9);
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.inside-fridge-container {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 90%;
    height: 72%;
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 30% 40% 15% 15%;
    grid-template-rows: 10% 80%;
    background-color: rgb(255, 255, 255, .9);
    border-radius: 5px;
    margin-top: 3%;
    transition: all .2s ease-in-out;
}

.fridge-item-name {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fridge-item-expire {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fridge-item-price {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fridge-item-delete {
    grid-column: 4/5;
    grid-row: 2/3;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.delete-fridge-item-x {
    height: 20px;
    width: 20px;
}

.delete-fridge-item-x:hover {
    cursor: pointer;
}

.recipes-component-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expiring_soon {
    color: red;
}

.top-left-holder {
    height: 100%;
    width: 100%;
}
.top-left-holder:hover { cursor: pointer }

.bottom-left-holder {
    height: 100%;
    width: 100%;
}
.bottom-left-holder:hover { cursor: pointer }

.hidden {
    display: none
}

.top-right-holder {
    grid-row: 1/2;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}
.top-right-holder:hover { cursor: pointer }

.bottom-right-holder {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}
.bottom-right-holder:hover { cursor: pointer }