body {
    /* background-color: burlywood; */
    background: linear-gradient(90deg, rgb(53, 147, 181) 0%, rgb(185, 199, 247) 100%);
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

.dashboard-page-container {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    width: 100%;
    font-family: "Neue Plak", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif;
}

.fridge-container {
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url('./images/real-fridge-closed.png');
    background-position: center;
    height: 800px;
    width: 700px;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 48% 52%;
    grid-template-rows: 33% 67%;
    transition: all .4s ease-in-out;
    margin-left: 18%;
}

/* .fridge-container:hover { transform: scale(1.1); } */

.freezer-door-container {
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: flex-start;
    align-self: center;
    margin-top: 10%;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, .9);
    border-radius: 5px;
    transition: all .4s ease-in-out;
    display:none;
    font-family: 'Gochi Hand', cursive;
}

.inside-fridge-container {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 90%;
    height: 72%;
    display: flex;
    align-items: flex-start;
    background-color: rgb(255, 255, 255, .9);
    border-radius: 5px;
    margin-top: 3%;
    transition: all .4s ease-in-out;
    display:none;
    font-family: 'Gochi Hand', cursive;
    overflow: scroll;
    overflow-x: hidden;
}

.fridge-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-top: none;
    margin-bottom: none;
    padding-top: none;
    padding-bottom: none;
}

.fridge-item-name, .fridge-item-expire, .fridge-item-price, .fridge-item-delete {
    margin-top: none;
    margin-bottom: 5px;
    padding-top: none;
    padding-bottom: none;
}

.delete-fridge-item-x {
    height: 20px;
    width: 20px;
}

.delete-fridge-item-x:hover {
    cursor: pointer;
}

.recipes-component-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expiring_soon {
    color: red;
}

.top-left-holder {
    height: 100%;
    width: 100%;
}
.top-left-holder:hover { cursor: pointer }

.bottom-left-holder {
    height: 100%;
    width: 100%;
}
.bottom-left-holder:hover { cursor: pointer }

.hidden {
    display: none
}

.top-right-holder {
    grid-row: 1/2;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}
.top-right-holder:hover { cursor: pointer }

.bottom-right-holder {
    grid-row: 2/3;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
}
.bottom-right-holder:hover { cursor: pointer }

.list-page-container {
    grid-column: 1/2;
    grid-row: 1/2;
}

.no-list-container {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20%;
    margin-right: 5%;
}

.no-lists-loaded-div {
    justify-self: flex-end;
    font-size:2.5rem;
    transform: rotateY(0deg) rotate(-15deg);
    font-family: 'Gochi Hand', cursive;
    z-index: -1
}

#homepage-arrow {
    width: 200px;
    height: 200px;
    z-index: -1;
    transform: rotateX(130deg);
    margin-left: 50%;
}