.mobile-dashboard-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.mobile-background-color-splash {
    position: absolute;
    background: linear-gradient(90deg, rgb(53, 147, 181) 0%, rgb(198, 164, 236) 100%);
    justify-self: center;
    height: calc(100% - 240px);
    width: 90%;
    z-index: -100;
    left: auto;
    margin-right: auto;
    top: 80px;
    left: 5%;
}

@media screen and (max-width: 900px) {
    /* login form */
    .welcome-div {
        margin-right: 20%;
        margin-top: 12%;
        margin-bottom: 5%;
    }

    .login-form-container {
        width: 90vw;
        margin: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .div-wrapping-form {
        margin: auto;
        height: 300px;
        width: 100%;
        max-width: 415px;
    }

    .login-form-form {
        height: 100%;
    }
    .inside-login-form-div {
        height: 50%;
    }

    .login-form-input-div > input {
        width: 80%;
    }

    .login-form-button-div {
        margin-top: 4%;
    }

    .sign-up-link {
        margin-right: 25%;
        width: 100%;
    }

     /* signup form */
    .signup-title {
        margin-left: 55%;
        width: 100%;
        font-size: 2.3rem;
        padding-top: 8%;
    }

    .signup-form-container {
        margin: auto;
        width: 87%;
        height: 100%;
    }
    .signup-form-input {
        font-size: .8rem;
    }

    .signup-form {
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .signup-errors-div {
        width: 100%;
        margin-left: 40%;
    }
    
    .have-an-account-link {
        width: 100%;
        margin-right: 30%;
    }

    /* no list container */
    .no-list-container {
        width: 100%;
        margin: auto;
    }

    .mobile-no-lists-loaded-div {
        font-family: 'Gochi Hand', cursive;
        font-size: 1.3rem;
        margin-bottom: 5%;
        margin-top: 10%;
    }

    .mobile-homepage-drawings-div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-bottom: 8%;
    }

    #mobile-homepage-arrow {
        width: 30%;
        height: 30%;
        transform: rotate(15deg)
    }

    #mobile-homepage-pot {
        height: 100px;
        width: 100px;
        margin-right: 10%;
        transform: rotate(-10deg);
    }

    /* shopping lists */
    .lists-container {
        width: 80%;
        height: 400px;
        margin: auto;
        background-size:100% 100%;
        padding-top: 5%;
    }
    .lists-container:hover { transform: scale(1); }
    .lists-container:focus { transform: scale(1); }

    .lists-div {
        width: 85%;
        margin-left: 22%;
    }

    /* list page */
    .list-page-container {
        width: 95%;
        margin: auto;
    }

    .list-items-container {
        width: 83%;
        margin: auto;
        margin-top: 15%;
        margin-bottom: 5%;
    }

    .ingredient-list-item-delete-button-label {
        font-size: 1rem;
    }

    .list-items-select-form {
        margin: auto;
    }

    /* fridge */
    .mobile-inside-fridge-container {
        font-family: 'Gochi Hand', cursive;
        padding-top: 10%;
        width: 80%;
        margin: auto;
        height: 100%;
        margin-top: 10%;
    }

    .fridge-item-container-labels {
        margin-bottom: 5%;
    }

    .fridge-item-name {
        padding-left: 3%;
    }

    .mobile-dollars {
        margin: auto;
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 5%;
    }

    /* recipes */
    .recipes-component-container {
        margin: auto;
        width: 80%;
    }

    .recipes-container {
        margin:auto;
        margin-left: 13%;
    }

    .recipes-loading-container {
        width: 70%;
        margin: auto;
        text-align: center;
        margin-top: 5%;
    }

    .mobile-recipes-loaded-images-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-whisk {
        height: 75px;
        width: 80px;
        transform: rotate(10deg)
    }

    .recipes-loading-arrow {
        margin: auto;
        margin-top: 15%;
        width: 125px;
        height: 140px;
    }

    .mobile-fridge-title {
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 5%;
        text-decoration: underline;
    }

    .back-to-top-container {
        font-family: 'Gochi Hand', cursive;
        font-size: 1.3rem;
        width: 80%;
        margin:auto;
        margin-top: 5%;
        display: flex;
        justify-content: center;
    }

    .back-to-top-container:hover {
        cursor: pointer;
    }

}