
.recipes-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Gochi Hand', cursive;
    margin-bottom: 50px;

}

.recipe-card {
    width: 100px;
    margin: 1%;
    border: 2px solid gray;
    padding: 2%;
    background-color: rgb(153,205,253);
    border-radius: 5px;
    transition: all .2s ease-in-out;
    font-family: 'Gochi Hand', cursive;
}

.recipe-card:hover {
    transform: scale(1.1); 
}

.recipe-card > a {
    text-decoration: none;
    color: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.recipe-card-image {
    width: 50px;
    height: 50px;
    border: 2px solid gray
}