.suggest-recipes-title {
    font-family: 'Gochi Hand', cursive;
    font-size: 2rem;
}

.recipes-container {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Gochi Hand', cursive;
    margin-left: 5%;
    margin-bottom: 50px;

}

.recipe-card {
    width: 200px;
    height: 200px;
    margin: 1%;
    padding: 2%;
    transition: all .2s ease-in-out;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.3rem;
    border: 3px solid black;
    border-radius: 5px;
}

.recipe-card:hover {
    transform: scale(1.1); 
}

.recipe-card > a {
    text-decoration: none;
    color: rgb(31, 30, 30);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
}

.recipe-card-image {
    width: 50%;
    height: 50%;
    border: 2px solid black;
    margin-top: 10%;
    margin-left: 5px;
    border-radius: 5px;
}

.recipe-card-title {
    margin-bottom: 5%;
}


.sticky-blue {
    background-color: rgb(65,148,183)
}

.sticky-purple {
    background-color: rgb(193,163,234);
}


@media screen and (max-width: 900px) {
    .recipes-container {
        width: 75%;
        margin-left:auto;
        margin-right:auto;
    }

    .recipe-card {
        justify-self: center;
        width: 200px;
        height: 200px;
        margin-bottom: 12%;
    }

    .recipe-card > a {
        padding: 2%;
    }
}