.hidden {
    display: none;
}

#NLFLabel {
    margin-top: 35%;
}

#NLFLabel:hover {
    cursor: pointer;
}

.new-list-form-container {
    margin: 7%;
    font-family: 'Patrick Hand', cursive;
}

.new-list-input {
    background: none;
    border: none;
    padding: 10px;
}

.new-list-check {
    height: 20px;
    padding: 5px;
}

.new-list-check:hover {
    cursor: pointer;
}

.lists-container {
    background-image: url('./images/torn-paper.png');
    background-position: center;
    background-size: contain;
    height: 390px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
}

.lists-div {
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    font-family: 'Patrick Hand', cursive;
}

.list-name-link {
    text-decoration: none;
    color: black;
}

.remove-list-button {
    width: 20px;
    height: 20px;
}

.remove-list-button:hover {
    cursor: pointer;
}